* {
    padding: 0;
    margin: 0;
  }

ul, ol {
    list-style: none;
  }

body {
    font-family: "Montsterrat", sans-serif;
  }

.section {
  padding-bottom: 100px;
}

.container {
    width: 100%;
    max-width: 480px;
    padding: 0 16px;
    margin: 0 auto;
  }

.section-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.store-list {
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.store-item-header {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.store-item-text {
  color: #00000060;
  font-size: 12px;
  font-weight: 600;
}

.btn-store {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  cursor: pointer;
  padding: 14px 28px;
  border-radius: 38px;
  background: #E86F54;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 44px;
}


  

